
/* Задает стиль текста на всей странице */
body {
	font-size: 16px;
	font-family: Arial, serif;
}

/* Фиксирует размер контейнера в каждой секции и центрирует на странице */
section .container {
	width: 1000px;
	margin:0 auto;
}

section.menu {
	/* Меняет фон секции с меню */
	background: #DEDEDE;	
	/* Добавляет внутренние отступы у секции сверху и снизу */
	padding-top: 8px;
	padding-bottom: 8px;
	/* Центрирует неблочный контент (тег a) по центру родительского блочного элемента (div) */
	text-align: center;
}

section.header {
	/* Меняет фон секции с заголовком */
	background: #EFEFEF;
}

/* Растягивает ширину любой картинки на 100% от ширины родительского блока (т.е. container), 
все изображения будут пропорционально увеличены до 1000px ширины */
section.header img {
	width: 100%;
}